<%= form_with(model: @voice, local: true, url: choose_new_or_edit ) do |form| %>
  <% if @voice.errors.any? %>
  <div id="error_explanation">
  <h2><%= @voice.errors.count %>件のエラーがあります。</h2>
  <ul>
      
     <% @voice.errors.full_messages.each do |msg| %>
     <li><%= msg %></li>
     <% end %>
  </ul>
  </div>
  <% end %>
  
    <div class="voice_title">
        <%= form.label :つぶやき %>
        <%= form.text_field :content %>
    </div>
    <%= form.submit %>
<% end %>

<%= link_to '一覧へ戻る', voices_path %>
<%= link_to '投稿画面へ', new_voice_path %>