<div class="index">
<%= form_with(model: @voice, local: true, url: choose_new_or_edit ) do |form| %>
  <% if @voice.errors.any? %>
  <div id="error_explanation">
  <h2><%= @voice.errors.count %>件のエラーがあります。</h2>
  <ul>
      
     <% @voice.errors.full_messages.each do |msg| %>
     <li><%= msg %></li>
     <% end %>
  </ul>
  </div>
  <% end %>
    <div></div>
    <p>
    <div class="index">
        <%= form.label :つぶやき編集?%>
        <%= form.text_field :content %>
    </div>
    <%= form.submit "編集送信" %>
<% end %>

<div class="aside">
  <%= link_to '一覧へ戻る', voices_path %>
  <%= link_to '投稿画面へ', new_voice_path %>
</div>
</div>