<div class="index">
<%= form_with(model: @voice, local: true, url: choose_new_or_edit ) do |form| %>
  <% if @voice.errors.any? %>
  <div id="error_explanation">
  <h2><%= @voice.errors.count %>件のエラーがあります。</h2>
  <ul>
      
     <% @voice.errors.full_messages.each do |msg| %>
     <li><%= msg %></li>
     <% end %>
  </ul>
  </div>
  <% end %>
  
    <div class="index">
        <%= form.label :つぶやきスペース %>
        <%= form.text_field :content %>
    </div>
    <%= form.submit "つぶやき送信" %>
<% end %>


<%= link_to '一覧へ戻る', voices_path %>
<p>
</div>